/* Author: Sowjanya Mani */

select#securityquestion {
    font-size: 18px;
    margin-bottom: 34px;
    text-align: inherit;
    text-size-adjust: auto;
    width: 128%;
    border-color: #7559b6;
    font-family: 'Rajdhani';
    height: 61px;
    border-radius: 14px;
}
.excistingvalue2{
    margin-left: 92px;
    padding-top: 33px;
    cursor: pointer;
    padding-left: 19px;
    
}

.excistingvalue2 label{
    margin-left: -8em;
    font-size: 19px;
    color: #0a0a0a;
    margin-right: 5px;
    padding-left: 65px;
}
  
.button-body1{
    text-align: center;
    font: normal normal bold 14px/35px Rajdhani !important;
    letter-spacing: 2.1px !important;
    color: #090971 !important;
    background-color: #F5D200;  
    margin-left: 35em; 
    width: 131px;
    margin-left: 0em;
    margin-top: -23px;  
    font-family: 'cursive',sans-serif;
    padding-bottom: 5px;
    background-color: #F5D200;
    border: none;
    cursor: pointer;
}