.home{
    flex: 4;
    background-color: white;
}

.widgets{
    display: flex;
    margin: 20px;
}

.container{
    display: flex;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: inherit;
}
.Charts{
    display: contents;
}


