/* //Author: Hardik Mesvania */
.sidebar{
    flex: 1;
    background-color:#090971 !important;;
    /* position: sticky; */
    top: 50px;
}
.sidebarWrapper{
    padding: 20px;
    color: #555;
}
.sidebarMenu{
    font-size: 13px;
    color:white
}
.sidebarList{
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebarListItem{
    padding-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
}

.sidebarListItem.active, 
.sidebarListItem:hover{
    background-color:#001633;
}

.sidebarIcons{
    margin-right: 5px;
    font-size: 25px !important;
<<<<<<< HEAD
}
=======
}
>>>>>>> origin/develop
