.userList {
  flex: 4;
  height: 50vh;
  background-color: white;
}
.userListImageUser {
  display: flex;
  align-items: center;
}

.userListImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  /* padding: 80%; */
}

.userListEdit {
  border: None;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #001633;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}
.search {
  height: 40px;
  width: 300px;
  display: flex;
  text-align: center;
  margin-left: 50vh;
  margin-bottom: 10px;
}

.dataGridTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #090971 !important;
}

.DataGrid {
  background-color: white;
}
