/* //Author: Hardik Mesvania */
.user{
    flex:4;
    
}
.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.userAddButton{
    width: 150px;
    border: none;
    padding: 5px;
    background-color: #090971 !important;;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.userContainer{
    display: flex;background-color: white;
}

.userShow{
    flex:1;
    padding: 20px;
    -webkit-box-shadow: 23px 7px 7px 3px #8E8E8E; 
    box-shadow: 23px 7px 7px 3px #8E8E8E;
}

.userUpdate{
    
    padding: 20px;
    -webkit-box-shadow: 23px 7px 7px 3px #8E8E8E; 
    box-shadow: 23px 7px 7px 3px #8E8E8E;
    margin-left: 25px;
}
.userShowTop{
    display: flex;
    align-items: center;
}
.userShowUserUserImage{
    width:200px;
    height:200px;
    border-radius: 15%;
    object-fit: cover;
    margin-left: 6%;
}
.userShowTop{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUserName{
    font-weight: 600;
    font-size: 20px;
    margin-left: 7%;
}
.userShowUserTitle{
    font-weight: 300;
}
.userShowBottom{
    margin-top: 20px;
}
.userShowTitle{
<<<<<<< HEAD
    font-size: 16   px;
=======
    font-size: 16px;
>>>>>>> origin/develop
    font-weight: 600;
    color:grey;
    margin-left: 46%;
    font-size: 25px;
}
.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color:#444;
    margin-left: 46%;
    font-size: 18px;
    /* margin-left: 7%; */
}
.userShowIcon{
    font-size: 25px !important;
}
.userShowInfoTitle{
    margin-left: 10px;
}
.userUpdateImage{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.userUpdateForm{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.userUpdateInput{
    border: none;
    border-bottom: 1px solid grey;
    width: 250px;
    height: 30px;
}
.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}
.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;

}
.userUpdateIcon{
    cursor: pointer;
}
.userUpdateButton{
    width: 200px;
    height: 50px;
    border: none;
    background-color: darkblue;
    padding: 7px 10px ;
    margin-top: 33px;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.userTitle{
    color: #090971 !important;
<<<<<<< HEAD
}
=======
}
>>>>>>> origin/develop
