/* //Author: Hardik Mesvania */
.widgetslg{
    flex: 2;
    -webkit-box-shadow: 23px 7px 7px 3px #8E8E8E; 
    box-shadow: 23px 7px 7px 3px #8E8E8E;
    align-content: center;
    padding: 20px;
    margin: 20px;
}

.widgetLgTitle{
    font-size:22px ;
    font-weight:600 ;
}
.widgetLgtable{
    width: 100%;
    border-spacing:20px ;
}

.widgetLgth{
    text-align: left;
}

.widgetLgUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.widgetLgImg{
    width: 40px;
    font: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.widgetLgDate,.widgetLgAmount{
    font-weight: 300;
}

.widgetLgButton{
    border: none;
    border-radius: 10px;
    padding: 5px 7px;
}

.widgetLgButton.Approved{
    background-color: lawngreen;
    color:red
}

.widgetLgButton.Declined{
    background-color: red;
    color: greenyellow;
}

.widgetLgButton.Pending{
    background-color: blue;
    color: orange;
<<<<<<< HEAD
}
=======
}
>>>>>>> origin/develop
