/* Author : Vikram Babu Rajendran */

.mainholder {
	width: 50%;
	max-width: 600px;
	min-width: 200px;
	height: auto;
	background-color: #ffffff;
	border-radius: 10px;
	margin: auto;
	vertical-align: middle;
	margin-top: 5%;
	box-shadow: 0px 0px 30px #071255;
	padding-bottom: 40px;
	margin-bottom: 5%;
}

.holder{
	width: 85%;
	height: auto;
	margin: auto;
	text-align: center;
	padding-top: 3vh;
}

.notif-button{
	text-align: center;	
	font: normal normal bold 14px/35px Rajdhani !important;
	letter-spacing: 2.1px !important;
	color: #090971 !important;
	background-color: #F5D200;  
	font-weight: 700;
	letter-spacing: 0.2em;
 	padding: .6em;
	border-radius: 6px;
	color: #fff;
 	font-size: 20px;
	text-decoration: none;
 	border: none;	
 	box-shadow: 0px 0px 20px rgba(29,42,120,0.6);
	cursor: pointer;	  
  object-fit: contain;
  width: 40%;
}


@media screen and (max-width: 500px) {

	.mainholder{
		width: 100%;
		margin-top: 50%;		
	}

	.holder{
		width: 100%;
	}


}