/* Author: Shivam Barot */

h1 {
    color: aliceblue;
}

.limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}