@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,700&display=swap');

body{
  background-color: #001633;
  margin: auto;
  padding: auto;
  font-family: 'Rajdhani', sans-serif;
  font-size:1vw;
}

.container {
  display: flex; 
  height: 6vh;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
   overflow: hidden;
  background-color: #ffffff;
  padding: 20px 10px;
  border-radius: 6px;
  border: 1px 	solid black;
  -moz-box-shadow:    inset 0 0 10px #001633;
  -webkit-box-shadow: inset 0 0 10px  #001633;
  box-shadow:         inset 0 0 10px  rgba(29,42,120,0.6);
}

.box1{   
  zoom: 1;  
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-left: 1em;
  padding: 1px;
  padding-left: 6%;
}
.box2{
  zoom: 1;  
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-left: 1em;
  padding: 1px;
  padding-left: 8%;
}
.box3{
    zoom: 1;  
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 1em;
    padding: 1px;
    padding-left: 6%;
}


.box5 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-top: 7px;
  padding: 1px;
  padding-right: 4em;
}

.container label{
  float: left;
  color: #6d76a8;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.container input{
  float: left;
  color: #01030f;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  height: 43px;
  width: 50%;
  
}

.container label.logo {
  font-size: 25px;
  font-weight: bold;
}

.container label:hover {
  background-color: #ddd;
  color: #1D2A78;
  cursor: pointer;
}

.container a.active {
  background-color: dodgerblue;
  color: white;
}


.container2 {
  display: flex;   
  height: 6vh;
  text-align: center;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
   overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px 	solid black;
    -moz-box-shadow:    inset 0 0 10px #001633;
  -webkit-box-shadow: inset 0 0 10px  #001633;
  box-shadow:         inset 0 0 10px  rgba(29,42,120,0.6);
}

.container2 label{
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  color: #1D2A78;
}

.container2 label:hover {
  background-color: #ddd;
  color: #1D2A78;
  cursor: pointer;
}

.container3 {
  display: flex;   
  height: 6vh;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  overflow: hidden;
  padding: 20px 10px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid black;
    -moz-box-shadow:    inset 0 0 10px #001633;
  -webkit-box-shadow: inset 0 0 10px  #001633;
  box-shadow:         inset 0 0 10px  rgba(29,42,120,0.6);
  margin-bottom: 2em;
}

.container3 a{
  float: left;
  color: #1D2A78;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.container3 a:hover {
  background-color: #ddd;
  color: #1D2A78;
}

.container4 {
  display: flex;   
  height: 7vh;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
   overflow: hidden;
  padding-top: 20px;
  padding-left: 21px;
  background-color: #ffffff;
    -moz-box-shadow:    inset 0 0 10px #001633;
  -webkit-box-shadow: inset 0 0 10px  #001633;
  box-shadow:         inset 0 0 10px  rgba(29,42,120,0.6);
}

.container4 label{
  float: left;
  color: #1D2A78;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;  
}

.container4 label.logo-box {
  font-size: 25px;
  font-weight: bold;
  width: 21vh;
}

.container4 label:hover { 
  color: #1D2A78;
  cursor: pointer;
}

.container4 label{
  float: left;
 color: #1D2A78;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  border-radius: 4px;
  width: 66vh;
}

.logo-box{
  zoom: 1;  
  color: black;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  
}

.backtotop { 
  zoom: 1; 
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;  
  
}

.container4 .box5 label{
    cursor: default;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.img-ad{
 width:50%;
 border: 1px groove #001633;
 object-fit: contain;
 height: 100%; 
 display: block;
 border-radius: 4px;
 max-width:100%;
 -moz-box-shadow: inset 0 0 10px #001633;
 -webkit-box-shadow: inset 0 0 10px  #001633;
 box-shadow: inset 0 0 10px  rgba(29,42,120,0.6);
}


.wrapper {
   display: flex;
   justify-content: center;
   padding: 2em;
   height: 35em;
   width: 96%;  
   border: 1px solid black;
   margin-top: 1em;
   margin-bottom: 1em;
   border-radius: 6px;
   background-color: #001633;
}
.box {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 1em;
  position: relative;
  border: 1px 	solid black;
  border-radius: 6px;
  margin: 2em;
  object-fit: contain;
  background-color: #ffffff;
  -moz-box-shadow:    inset 0 0 10px #001633;
  -webkit-box-shadow: inset 0 0 10px  #001633;
  box-shadow:         inset 0 0 10px  rgba(29,42,120,0.6);
}

.box h2 {
text-align: left;
align-items: left;
color: #1D2A78;
}

.box p{
  text-align: left;
  align-items: left;
  border: 1px 	solid black;
  border-radius: 4px;
  width: 44%;
  height: 25%;
  padding: 1em;
  color: #1D2A78;
}


.ads-button{
	text-align: center;	
	font: normal normal bold 14px/35px Rajdhani !important;
	letter-spacing: 2.1px !important;
	color: #090971 !important;
	background-color: #F5D200;  
	font-weight: 700;
	letter-spacing: 0.2em;
 	padding: .6em;
	border-radius: 6px;
	color: #fff;
 	font-size: 20px;
	text-decoration: none;
 	border: none;	
 	box-shadow: 0px 0px 20px rgba(29,42,120,0.6);
	cursor: pointer;	  
  object-fit: contain;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: left;
    padding-left: 49em;
  }

  .container{
    display: block;
    height: 20vh;
  }

  .container2{
    display: list-item;
    height: 13vh;
  }

  .container3{
    display: list-item;
  }

  .container4{
    display: block;
    height: 11vh;
  }

  .box1 {
    zoom: 1;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin: 0em;
    padding: 3px;
    padding-left: 0%;
  }

  .box2{
      display: grid;
  }

  .container3 {
    height: 11vh;
  }
  .wrapper {
    display: contents;
  }

  .box {
    display: flexbox;    
  }

  .box p {
    height: 3em;
    padding: 1em;
    font-size: large;
  }

  .box h2{
      font-size: x-large;
  } 
}

