.containerform {
  max-width: 384px;
  background-color: rgb(243 239 239);
  padding: 13px 43px;
  border-radius: 34px;
  overflow: hidden;
  margin: 116px;
  margin-left: 664px;
}

.content{
  max-width: fit-content;
  padding: 18px;
}

.title{
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  position: relative;
  padding-top: 16px;
}

.button-body{
    text-align: center;
    font: normal normal bold 14px/35px Rajdhani !important;
    letter-spacing: 2.1px !important;
    color: #090971 !important;
    background-color: #F5D200;
    padding: -2em;
    margin-left: 35em;
    width: 113px;
    margin-left: 3em;
    margin-top: -31px;
    size: 7px;
    font-family: 'cursive',sans-serif;
    padding-bottom: 5px;
    background-color: #F5D200;
}


.title1{
    font-size: 34px;
    font-weight: 500;
    position: relative;
    margin-left: 128px;

}

.content form .userdata{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 88px 6px -3px;
    padding-top: 27px;
    padding-left: 42px;
}

form .userdata .inputvalue {
  margin-bottom: 40px;
}

.userdata .inputvalue label{
  display: block;
  font-weight: 500;
  font-size: 21px;
  

}
.userdata .inputvalue label.errorvalues{
  font-size: 17px;
  display: block;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ad0d0d;
}

form .inputvalue span.inputdetails{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.userdata .excistingvalue label{
    margin-left: 7em;
    width: 39em;
    font-size: 19px;
    color: #0a1e55;
    cursor: pointer;
}
.userdata .excistingvalue{
  margin-top: 20px;
  cursor: pointer;
}


.userdata .excistingvalue1 label{
  margin-left: 10em;
  width: 39em;
  font-size: 19px;
  color: #0a1e55;
  
}

.userdata .inputvalue input{
  height: 54px;
    width: 121%;
    outline: none;
    font-size: 22px;
    border-radius: 14px;
    padding-left: 14px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
}
.userdata .inputvalue input:focus,
.userdata .inputvalue input:valid{
  border-color: #7559b6;
  font-size: 16px;
  
}
form .buttonContainer {
  height: 0px;
  margin: 33px 70px;
  margin-top: 10px
  
}

.excistingvalue {
  margin-left: 47px;
  padding-top: 19px;
  cursor: pointer;
}

.excistingvalue1 {
  padding-top: 24px;
  margin-left: 103px;
  cursor: pointer;
}

.excistingvalue1 label{
  padding-bottom: 33px;
   margin-left: 5em;
   font-size: 19px;
   color: #0a0a0a;
}

.userdata .excistingvalue{
margin-top: 20px;
}


@media screen and (max-width: 500px) {

.containerform {    
  max-width: 459px;
    background-color: rgb(243 239 239);
    padding: 64px 10px;
    border-radius: 34px;
    overflow: hidden;
    margin: 21px;
    margin-left: 17px;
    }
    .button-body{
      margin-left: 1em;
      width: 13em;
    }
    .userdata .inputvalue input{
        width:324px;
    }
    .content{
      max-width: fit-content;
      padding: 1px;
    }
    .content form .userdata {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 9px 102px 6px -47px;
      padding-top: 27px;
      padding-left: 42px;
  }

  .excistingvalue {
    margin-left: 58px;
    padding-top: 16px;
    font-size: large;
}
  .excistingvalue1{
   margin-left: 111px;
   font-size: 17px;
}

}    