.main-box {
  width: 80%;
  height: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  position: relative;
  margin: 2em;
  background-color: #ffffff;
  -moz-box-shadow: inset 0 0 10px #001633;
  -webkit-box-shadow: inset 0 0 10px #001633;
  box-shadow: inset 0 0 10px rgba(29, 42, 120, 0.6);
}
.edit {
  margin: 1em 5px 0px 50%;
  display: flex;
}
.main-box button {
  text-align: center;
  font: normal normal bold 14px/35px Rajdhani !important;
  color: white !important;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding: 0;
  border-radius: 4px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  box-shadow: 0px 0px 20px rgba(29, 42, 120, 0.6);
  cursor: pointer;
  width: fit-content;
  margin: 2%;
}
.myAdImg {
  width: 50%;
  height: 70%;
  border: 1px groove #001633;
  object-fit: contain;
  display: block;
  border-radius: 4px;
  max-width: 100%;
  -moz-box-shadow: inset 0 0 10px #001633;
  -webkit-box-shadow: inset 0 0 10px #001633;
  box-shadow: inset 0 0 10px rgba(29, 42, 120, 0.6);
}

.main-box input {
  color: #1d2a78;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  height: 20px;
}
